
html {
    font-family: sans-serif;
    height: 100%;
    max-width: 100%!important;
}


body {
    margin: 0;
    padding: 0;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    color: #858796;
    text-align: left;
    background-color: #fff;
    min-height: 100%!important;
    max-width: 100%!important;
}

.container-fluid {
    width: 100%;
    height: 100%;
}
.width-session{
    width: 25%!important;
}
.padding-0{
    padding-right:0;
    padding-left:0;
    padding-top: 0;
}
.padding-1{
    padding-right:0;
    padding-left:20px;
    padding-top: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    background-color: black;
    color: white;
    width: 100%;
    min-height: 760px;
    height: 100%;

}
.content-wrapper{
    float: right;
    background-color: white;
    color: black;

}
.text-success {
    color: #1cc88a!important;
}
.text-warning {
    color: #FF9900!important;
}
.text-danger {
    color: #FF3333!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}
/*DashBoard css*/
.dashBoard-List{
    min-height:100%;
    padding: 0!important;
}

.sidebar li{
    list-style-type: none;
    margin: 10px 0px;
    margin-bottom: 10px;
    width: 100%;

}
.sidebar li a{
    width: 100%;
    color: white;

}
.sidebar li a:hover{
    text-decoration: none;
}
.sidebar li span{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px!important;
}
.slidebar-brand-li {
    height: 100px;
    width: 100%;
    text-align: center;

}

.slidebar-brand-li .sidebar-brand{
    height: 100%;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    font-size: 40px;
    font-family: cursive;
    color: white;
    margin-top: 20px!important;
    font-family: fantasy;
}

.collapsible {
    color: red;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    float: right;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    clear: both;
    color: black;
    display: none;
}
.content .collapse-inner{
    background-color: white;
    border: 1px solid;
    border-radius: 10%;

}
.content-adm i {
    margin-left: 60px;
    font-family: sans-serif;
    font-size:30px;
    text-align: center;
}
.content-adm hr{
    margin: 0;
}

.dashboard-item .collapse-item {
    font-size: 18px;
    font-family: serif;
    color: white;
    display: block;
}
.dashboard-item a:hover{
    background: white;
    color: black;
}
/*End DashBoard css*/


/*Content css*/

#wrapper {
    display: flex;
    padding: 0;
    min-height: 760px;
}

#wrapper #content-wrapper {
    min-height: 760px;
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;

}

#wrapper #content-wrapper #content {
    flex: 1 0 auto
}

.topbar {
    height: 4.375rem;
}
.bg-white {
    background-color: #fff!important;
    background-color: red;
}
.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
#wrapper #content-wrapper .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-light {
    height:  50px;
    width: 100%;
}
.navbar-light .navbar-nav{
    height: 100%;
}
.navbar-light .navbar-nav li{
    display: inline-block;
    margin: 20px;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2)
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)
}

.shadow-none {
    box-shadow: none
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
div {
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    height: 100%!important;

}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.tab-list{
    padding: 0!important;
}

.fluid-tab{
    margin-left: 20px!important;
}
.alert-content{
    margin: 0!important;
    height: 100%;
}
.alert-content a{
    min-height: 100%!important;
    height: 100%;


}
.alert-content a i {
    font-size: 30px;
    color: black;
    margin-top: 10px!important;
    margin-left: -40px!important;
    z-index: 1;
    position: fixed;
}
.alert-content a span{
    z-index: 999;
    position: fixed;
    margin-left: -25px!important;
    margin-top: 20px;
}
.badges{
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
.users-li{
    margin: 0!important;
}
.users-li a{
    height: 100%!important;
    padding: 0!important;
    display: block;

}
.users-li a span{
    margin-top: 20px;
    display: inline-block;
}

.dropdown-menu a:hover{
    text-decoration: none;
}
/*end content css*/

/*Tab Dashboard*/

.container-fluid .dashBoard-List{
    min-height: 760px;
}
.container-fluid .align-items-center{
    height: 82px;
}
.container-fluid .align-items-center h1{
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #5a5c69;
}

.session_card{
    width: 100%;
    max-width: 100%;
    margin-left: 15px;
}
.border-left-success {
    border-left: .5rem solid #1cc88a!important;
}
.border-left-warning {
    border-left: .5rem solid #FF9900!important;
}
.border-left-danger{
    border-left: .5rem solid #FF3333!important;
}
.session_card .align-items-center .card-font{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
    font-family: monospace;


}
.session_card .align-items-center .card-font a{
    text-decoration: none;
    color: #e3e6f0;
}
.session_card .align-items-center .card-font a:hover{
    color: black;
}
.container-fluid .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
}
/*end Tab Dashboard*/


/*Tab history*/


/*end tab history*/



/*Tab user*/


/*end tab user*/



/*Tab product*/

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}
.pagination{
    border: 1px solid black;

}
.pagination a{
    color: black;
    font-size: 20px;
}
.pagination a:hover{
    text-decoration: none;
}
.pagination span{
    color: white;
    font-size: 25px;
    background-color: black;
}
.report-sort{
    border: 1px solid grey;
    width: 21.9%;
    float: left;
    margin-top: 13px;
}
.search-product{
    float: right;
    width: 47%;
    margin-top: 20px;
}
.search-product input{
    width: 80%;
    height: 3rem;
    border: 1px solid black;

}
.search-product button{
    width: 19%;
    height: 30px;
    padding: 0;
    border: 1px solid black;
}
/*end tab product*/

/*Update tab product*/

.update-top-bar{
    width: 40%;
    max-width: 40%;
    margin-left: 30%;

}
.top-content-update {
    border-left: .5rem solid #1cc88a!important;
    border-right: .5rem solid #1cc88a!important;
}
.container-fluid .align-content-center{
    height: 82px;
}
.container-fluid .align-content-center h1{
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #5a5c69;
}

.update-top-bar .align-content-center .card-font{
    position: absolute;
    left: 10%;

}
.container-fluid .banner-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
}

.left-content,
.right-content{
    border: 0.5px solid black;
    border-radius: 0 0 10px 10px;
    height: 500px;
    max-height: 500px;
    box-shadow: 0 6px 2px -2px #5a5c69;
}
.row-update input{
    width: 100%;
    height: 4rem;
}
.left-content,.right-content{
    margin-top: 10px;
}
.submit-update .buttonSubmit{
    width: 100%!important;
    border-radius: 0px 0px 10px 10px;
}
.right-data-content{
    height: 400px;
    overflow-y: scroll;
}
/*End Update tab product*/

/*Delete tab Product*/
.delete-body{
    height: 300px;
}
.delete-top-bar{
    width: 40%;
    max-width: 40%;
    margin-left: 30%;
    height: 100%;

}
.top-content-delete {
    border-left: .5rem solid #1cc88a!important;
    border-right: .5rem solid #1cc88a!important;
    height: 100%;
}
.top-content-delete .card-body{
    height: 100%;
}
.container-fluid .align-content-center-delete{
    height: 100%;
}
.container-fluid .align-content-center-delete h1{
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #5a5c69;
}
.container-fluid .align-content-center-delete h2{
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #5a5c69;
}

.delete-top-bar .align-content-center-delete .card-font{
    position: absolute;
    left: 5%;
    height: 100%;

}
.container-fluid .banner-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
}
.btnSubmit_delete{
    margin-left: 35%!important;
    width: 30%;
}
/*End Delete tab Product*/

/*History tab css*/
.table-area{
    height: 600px;
    max-height: 600px;
}
.table-display-area{
    height: 90%;
    max-height: 90%;
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;

}
.caption_history h1{
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #5a5c69;
}
table.myFormat {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.myFormat td, table.myFormat th {
    border: 1px solid #ddd;
    padding: 8px;
}

table.myFormat tr:nth-child(even){background-color: #f2f2f2;}

table.myFormat tbody tr:hover {background-color: #ddd;}

table.myFormat th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EEEEEE;
    color: black;
}
table.myFormat tfoot  th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #DDDDDD;
    color: black;
}
table.myFormat tfoot  th a{
    text-decoration: none;
}
/*End history css tab*/


/*Add product*/
#btnTable{
    min-height: 100%;
}
.formBtn{
    height: 100%!important;
    width: 100%;
}
#btnTable  .btn-success{
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    box-shadow: 5px 5px gray;
    background-color: #ddd;
    color: black;
    font-family: serif;
}
#btnTable  button:hover{
    background-color: #5cb85c;
}
.AlertSelect{
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.AlertSelect h3{
    font-size: 3em;
    font-weight: bold;
    color: #5a5c69;
}
#formAdd {
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid gray;
}
#formAdd input{
    width: 100%;
    height: 2.5em;
    border: 1px solid grey;
}
#formAdd button{
    width: 100%;
    margin-top: 20px;
}
.content_column{
    background-color: rgb(235,235,235);
    text-align: center;
}
.example span{
    font-size: 14px;
    word-wrap: break-word;
}
/*End Add product*/

