

/*Greatest offer News*/
.news{
	width: 100%;
	display: inline-block;
	float: left;
	padding: 15px 0;
}
.news h3{
	font-size: 28px;
	columns: #333;
	text-transform: uppercase;
	border-bottom: 1px solid #d2d2d2;
	font-weight: 600;
	padding: 10px 0;
	margin-bottom: 20px;
}
.owl-carousel .owl-nav{
	position: absolute;
	width: 100%;
	top: 40%;
}
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span{
	width: 45px;
	height: 45px;
	font-size: 48px;
	background-color: rgb(34,34,34);
	display: inline-block;
	line-height: 35px;
	border-radius: 50px;
	color: #fff;
}
.owl-carousel .owl-nav button.owl-prev{
	left: -20px;
	position: absolute;
}
.owl-carousel .owl-nav button.owl-next{
	right: -20px;
	position: absolute;
}


/*Product Detail Page Style*/
.product-detail{
	display: inline-block;
	float: left;
	width: 100%;
	padding: 45px 0;
}
.product-detail h3{
	font-size: 24px;
	padding: 15px 0;
}
.product-detail-left{
	float: left;
	width:40%;
}
.product-detail-right{
	float: right;
	width: 55%;
        height: 400px;
}
.product-detail-right h3{
	font-size: 22px;
	line-height: 24px;
	padding-top: 0;
}
.product-detail-right h3 small{
	font-size: 14px;
	color: gray;
}
.product-detail-right h5{
	font-size: 18px;
	margin-bottom: 20px;
	color: gray;
}
.product-detail-right h5 b{
	color: #000;
}
.product-detail-right .addtocart{
	border: 1px solid;
	color: black;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	display: inline-block;
}
.product-detail-right .writereview{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	margin-left: 20px;
	display: inline-block;
}
.product-detail-right .buynow{
	border: 1px solid rgb(34,34,34);
	background-color: rgb(34,34,34);
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 4px;
	margin-top: 20px;
	width: 60%;
	text-align: center;
	display: inline-block;
}
.product-detail-right .buynow input{
    background-color: rgb(34,34,34);
    color: #fff;
    border: 0;
}
.product-detail-feature{
	width: 100%;
	float: left;
	display: inline-block;
	margin-top: 60px;
	padding: 15px;
	background-color: rgba(34,34,34,0.2);
}
.product-detail-feature h3{
	font-weight: 500;
	border-bottom: 1px solid;
}
.product-detail-feature p{
	padding: 15px 0;
	font-size: 18px;
	border-bottom: 1px solid #dedede;
	width: 50%;
	float: left;
}
.product-detail .sp-wrap{
	max-width: 100%;
}
.product-detail-left img{
	max-width: inherit;
}

