*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    background-color: whiterig;
    margin: 0;
    padding: 0!important;
    min-height: 100%;
    height: 100%;

}
.footer {
    clear: both;
    position: relative;
    height: 200px;
    width: 100%;
    background-color: rgb(34,34,34);
    color: white;
}
main {
  flex: 1;
  min-height: 54%;
}
.container-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    width: 0px;
    height: 0px;
}


/* Start Header */

.web-header{
    height: 100px;
    min-height: 100px;

    background-color: white;
}
.nav-menu{
    margin: 0;
}

.web-header .container {
    height: 100px;
    background-color: white;
}
.web-header .container #main-header #center-header{
    height: 100px;
}
.web-header .container #main-header #center-header #center-header-top{
    height: 40%;
}
.web-header .container #main-header #center-header #center-header-top ul{
    margin-top: 5px;
}
.web-header .container #main-header #center-header #center-header-top li{
    display: inline;
    margin: 10px;

}
.web-header .container #main-header #center-header #center-header-top li a{
    font-size: 18px;
    font-family: 'Times New Roman';
    color: black;

}
.web-header .container #main-header #center-header #center-header-top li a:hover{
    color: rgb(112, 112, 112);
    text-decoration: none;
}
.web-header .container #main-header #center-header #center-header-search{
    height: 60px;
    display: block;
}
#fname{
    margin: 0;
}
.web-header .container #main-header #right-header img {
    display: inline-block;
    margin-top: 15px;

}
.web-header .container #main-header #right-header #rg-column-1{
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.web-header .container #main-header #right-header #rg-column-2{
    position: absolute;
    font-size: 13px;
    font-family: initial;
    top: 42px;
    margin-top: 5px;
    color: red;
    left: 200px;
}
/* Finish Header */

/* Start footer */


.footer .container{
    height: 200px;
    background-color: rgba(34, 34, 34, 0.5);
    color: aliceblue;
    top: 100%;
}
.footer .container .left-footer-below p{
    margin-top: -10px;
}

.footer .container .footer-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.footer .container  #media li{
    display: inline;
    list-style-type: none;
    margin: 10px;

}
.footer .container .item-column  #media li a{
    color: aliceblue;
    font-size: 30px;
}
.footer .container  a{
    color: aliceblue;
}
.footer .container .item-column  #media li a:hover{
    color: rgb(34, 34, 34);
    display: inline-block;
}

.footer .container .right-footer ul{
    columns: 3;
    width: 100%;
}
.footer .container .right-footer ul li {
    font-size: 20px;
    padding-bottom: 1em;
    padding-right: 0.5em;
}

/*Finish footer*/
/* css index pages */
/*  Start navbar */
.padding-0{
    padding-right:0;
    padding-left:0;
    padding-top: 0;
}
.padding-1{
    padding-right:0;
    padding-left:20px;
    padding-top: 0;
}
#icon-menu-open{
    float: right;
    margin-top: -25px;
    color: black;
}

.navbar-inverse .container .left-menu{
    padding: 0;
    border: 2px rgb(34, 34, 34);
    border-left-style: solid;
}
.navbar-inverse .container .left-menu .navbar-header{
    width: 100%;
    height: 100%;
}
.navbar-inverse .container .left-menu .navbar-brand{
    margin-left: 1px;
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    height: 100%;
}
.navbar-inverse .container .center-menu #list-nav li:hover{
    font-size: 18px;
}
.navbar-inverse .container .right-menu{
    border: 1px white;
    border-left-style: solid;
}

/* finish navbar */

/* content */
/* start menu content */
.second-menu{
    margin-top: -20px;
    min-height: 100%;
}
.second-menu .container{
    height: 100%;
}
.second-menu .menu-container{
    width: 100%;
    height: 100%;
}


.second-menu .menu-container .menu-inside .nav-area{
    position: relative;
    padding:  0;
    background-color: white;
    border: 2px rgb(34, 34, 34);
    border-bottom-style: solid ;
    border-left-style: solid ;
    letter-spacing: 2px;
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 15px;
    width: 100%;
    height: 100%;
}
.second-menu .menu-container .menu-inside .nav-area a,
.second-menu .menu-container .menu-inside .nav-area a:link,
.second-menu .menu-container .menu-inside .nav-area a:visited,
.second-menu .menu-container .menu-inside .nav-area a:focus{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.second-menu .menu-container .menu-inside .nav-area a:hover{
    color: rgba(34, 34, 34, 0.5);
    text-decoration: none;
}
.second-menu .menu-container .menu-inside .nav-area>li {
    display: block;
    text-align: left;
}
.second-menu .menu-container .menu-inside .nav-area > li > a{
    padding:  10px;
    display: block;
}
.second-menu .menu-container .menu-inside .nav-area > li:hover a{
    color: rgb(34, 34, 34);
}
.second-menu .menu-container .menu-inside .nav-area > li:hover{
    background-color: white;
    border: 1px solid black;
}
.second-menu .menu-container .menu-inside .nav-area > li > .sub-nav{
    list-style: none;
    top: 0;
    left: 290px;
    width: 880px;
    height: 400px;
    min-height: 100%;
    text-align: left;
    margin-top: 0px;
    padding: 0;
    z-index: 5!important;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.second-menu .menu-container .menu-inside .nav-area > li:hover .sub-nav{
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    background-color:white;
    border: 1px solid black;

}
.second-menu .menu-container .menu-inside .nav-area ul li:hover::after{
    color: red;
}

.second-menu .menu-container .menu-inside .nav-area .sub-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.second-menu .menu-container .menu-inside .nav-area .item1 {
    text-align: center;
    -ms-grid-column: 1;
}

.second-menu .menu-container .menu-inside .nav-area .item2 {
    text-align: center;
    -ms-grid-column: 2;
}

.second-menu .menu-container .menu-inside .nav-area .item3 {
    text-align: center;
    -ms-grid-column: 3;
}
.second-menu .menu-container .menu-inside .nav-area .item4 {
    text-align: center;
    -ms-grid-column: 4;
}
.second-menu .menu-container .menu-inside .nav-area .sub-menu ul{
    padding: 0;
    margin: 0;
}
.second-menu .menu-container .menu-inside .nav-area .sub-menu ul li{
    padding: 0;
    list-style: none;
    font-size: 12px;
}
.second-menu .menu-container .menu-inside .nav-area .sub-menu h3{
    font-size:  20px;
    padding: 10px 10px;
    font-weight: bold;
    margin: 30px 30px 30px 0;
    color: white;
    background: rgb(34, 34, 34);
}
.second-menu .menu-container .menu-inside .nav-area .sub-menu ul li a{
    display:  block;
    padding:5px;
    color:  black;
    font-size: 15px;
    text-align: center;
}
.second-menu .menu-container .menu-inside .nav-area .sub-menu ul li a:hover{
    color: rgb(112, 112, 112);
    border-bottom: 1px solid black;
}

.second-menu .menu-container .menu-inside .nav-area > li > ul li ul,
.second-menu .menu-container .menu-inside .nav-area  li > ul  li,
.second-menu .menu-container .menu-inside .nav-area > li .sub-nav,
.second-menu .menu-container .menu-inside .nav-area > li > ul,
.second-menu .menu-container .menu-inside .nav-area > li{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.second-menu #myCarousel{
    height: 400px;
}
.second-menu #myCarousel .carousel-inner{
    height: 400px;
}
.second-menu #myCarousel h3,
.second-menu #myCarousel p{
    color: black;
}
/* finish menu content */

/* section popular list */
.popular-list .container h3{
    width: 100%;
    border: 2px rgb(34, 34, 34);
    border-bottom-style: solid;
    padding-right:0;
    padding-left:0;
}
.popular-list .container h3 span{
    border: 2px rgb(34, 34, 34);
    border-radius: 0px 10px 0px 0px;
    background-color: rgb(34, 34, 34);
    color: white;
}
.grid-container .grid-item{
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    min-width: 271px;
    max-width: 271px;
    width: 271px;
}

.block_item{
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    min-width: 271px;
    max-width: 271px;
    width: 271px;
    border: 0.1px solid rgb(192,192,192);

}
.block_item .item-inf li{
    list-style-type: none;
    color: black;
}
.block_item .item-inf li:hover{
    box-shadow: 10px 10px 5px grey;
}
.block_item .item-inf li figure {
    position: relative;
    height: 300px;
}

.block_item .item-inf li figure .item-img {
    width: 100%;
    height: 235px;
    display: block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.block_item .item-inf li figure .item-img img{
    width: 100%;
    height: 235px;
}
.block_item .item-inf li:hover figure .add-card-btn {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    text-decoration: none;
}
.block_item .item-inf li figure .add-card-btn {
    background: rgb(34,34,34) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    left: 0;
    padding: 12px 10px;
    position: absolute;
    right: 0;
    height: 65px;
    width: 100%;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}
.block_item .item-inf li figure .add-card-btn span {
    margin-top: 10px;
    float: left;
    margin-left: 5px;
    font-size: 1.5em!important;
    z-index:9!important; 
    position: relative!important;
}
.block_item .item-inf li figure .add-card-btn input{
    color: white;
    background: rgb(34,34,34) none repeat scroll 0 0;
    border: none;
    width: 270px;
    height: 65px;
    font-size: 20px;
    position: fixed;
    margin-left: -149px;
    margin-top: -12px;

}
.block_item .item-inf li figcaption{
    text-align: center;
    height: 65px;

}
.block_item .item-inf li figcaption div{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.block_item .item-inf li figcaption .name-pr{

    height: 35px;
    text-overflow: ellipsis;
}
.block_item .item-inf li figcaption .span-price{
    height: 30px;
}
.block_item .item-inf li figcaption .name-pr .item-title{
    height: 100%;
    padding-top: 0;
    margin-top: 0;
}
.block_item .item-inf li figcaption .name-pr .item-title a{
    display: block;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
}
.block_item .item-inf li figcaption .span-price span{
    display: inline-block;
    height: 100%;
}
.block_item .item-inf li figcaption .span-price textarea{
    max-width: 100%; 
    max-height: 100%;
}
.block_item .item-inf li figcaption .span-price .item-price{
    color: red;
    font-size: 24px;
    top: 500px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: inline-flex;
}
.block_item .item-inf li figcaption .span-price .item-price-del{
    margin-left: 10px;
}
/* finish popular list */
/* Second content */
.list-i{
    height: 1000px;
}
.list-i .container{
    height: 100%;
}
.list-i .container .row{
    height: 100%;
}
.list-i .container .row .title-list-i{
    border: 2px rgb(34,34,34);
    border-bottom: solid;
}
.list-i .container .row .title-list-i .left-title{
    color: white;
    background: rgb(34, 34, 34);
    border: 2px rgb(34, 34, 34);
    border-radius: 0px 10px 0px 0px; 
}
.list-i .container .row .title-list-i .right-title{
    color: white;
    background: rgb(34, 34, 34);
    border: 2px rgb(34, 34, 34);
    border-radius: 10px 0px 0px 0px; 
}
.list-i .left-ct-list{
    height: 100%;
}
.list-i .right-ct-list{
    height: 100%;
}
.list-i .right-ct-list h2{
    text-align: right;
}
.list-i .grid-container li{
    list-style-type: none;
}
.list-i .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    text-align: center;
}

/* finish second content */
/* news content */
.list-ii .container .news-title{
    text-align: center;
    border: 2px rgb(34, 34, 34);
    border-bottom: solid;
}
.list-ii .container .news-title span{
    background: rgb(34, 34, 34);
    color: white;
    border: 2px rgb(34, 34, 34);
    border-radius: 10px 10px 0px 0px;
}

/* news content */
.list-ii .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;

}
.list-ii .grid-container .item{
    border: 0.5px solid rgb(34, 34, 34);
    height: 100px;
    width: 557.17px;
}
.list-ii .grid-container .item .news-item-img{
    float: left;
    height: 100%;
    width: 40%;
    max-width: 40%;
    max-height: 100px;
}
.list-ii .grid-container .item figcaption{
    float: right;
    height: 100%;
    width: 60%;
    text-align: center;
}
.news-item-img ,
.news-item-img img{
    height: 100%;
    max-height: 98px;
    width: 100%;
}
/* finish news content */
/* finish index pages css */

/* product page css */

/*Sort css*/
.second-menu .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;


}
.second-menu .grid-container li{
    list-style-type: none;
}
.second-menu .container .row{
    min-height: 380px;
    height: 100%;
}
.second-menu .container .row .right-ct-list{
    width: 100%;
    min-height: 380px;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid rgb(34,34,34);
    border-left: 1px solid rgb(34,34,34);
}
.second-menu .container .row .right-ct-list .sort-bar .click-sort,
.second-menu .container .row .right-ct-list .sort-bar .click-sort form{
    text-align: center;
    width: 100%;
    height: 50px;
    border-bottom:  2px solid rgb(34,34,34) ;

}
.second-menu .container .row .right-ct-list .sort-bar .click-sort form .sort-content{
    display: inline-block;
    padding: 10px;
}
.second-menu .container .row .right-ct-list .sort-bar .click-sort form .sort-content a,
.second-menu .container .row .right-ct-list .sort-bar .click-sort form .sort-content a:hover{
    text-decoration: none;
}
.second-menu .container .row .right-ct-list .sort-bar .click-sort form .sort-content a:hover>input{
    border: 1px solid black;
    background: black;
    color: white;

}
/*End sort css*/
/*Start pagination css*/
.paginationss{
    border: 0.5px solid black;

}
.pagination-container .paginationss a{
    color: black;
    font-size: 20px;
}
.pagination-container .paginationss a:hover{
    text-decoration: none;
}
.pagination-container  .paginationss span{
    color: white;
    font-size: 25px;
    background-color: black;
}


/*End pagination css*/

/*Search css*/
.wrap{
    width:100%; 
    height:100%;
}
.textbox{
    border-top: solid black!important;
    border-bottom: solid black!important;
    border-left: solid black!important;
    border-right: none;
    border-radius:  8px 0px 0px 8px!important;
    background-color:#fff;
    float:left;
    border:none;
    height:40px;
    width: 85%!important;
    font-size:15px;
    line-height: 1.42857;
    color:#000;
    width:420px;
}
.query-submit{
    border: solid black!important;
    border-radius: 0px 8px 8px 0px!important;
    cursor:pointer;
    background:black;
    height:40px;
    width: 10%;
    float:left;
    border:none;
}
.fa-search{
    color: white!important;
}
.textbox-clr{
    cursor:pointer;
    background:#fff;
    width:5%; 
    height:40px;
    float:left;
    border-top: solid black!important;
    border-bottom: solid black!important;
    border-left: none;
    border-right: none;
    text-align:center;
}
#search-layer{
    position:absolute; 
    background:rgba(255,255,255,0.5); 
    z-index:9; 
    left:0px; 
    top:0px;
}
#txtHint{
    z-index:9999!important; 
    position: relative!important;
    background:#0071b4;
    max-height:260px;
    overflow:auto; 
    width:90%;
    box-shadow:0px 8px 16px #444; 

}
#txtHint a{
    z-index: 9999!important;
}
.live-outer{
    width:100%; 
    height:60px;
    border-bottom:1px solid #ccc; 
    background:#fff;
}
.live-outer:hover{
    background:#F3F3F3;
}
.live-im{
    float:left;
    width:10%; 
    height:60px;
}
.live-im img{
    width:100%; 
    height:100%;
}
.live-product-det{
    float:left; 
    width:90%; 
    height:60px;
}
.live-product-name{
    width:100%; 
    height:22px; 
    margin-top:4px;
}
.live-product-name p{
    margin:0px;
    color:#333;
    text-shadow: 1px 1px 1px #DDDDDD;
    font-size:17px;
}
.live-product-price{
    width:100%;
    height:25px;
}
.live-product-price-text{
    float:left; 
    width:50%;
}
.live-product-price-text p{
    margin:0px;
    font-size:16px;
}
.link-p-colr{
    color:#333;
}
/*End search css*/
/*Cart css*/

.row_cart .img_cart .imgLeft{
    height: 400px;
    width: 400px;
}
.row_cart .img_cart .imgLeft img{
    height: 100%;
    width: 100%;
}
.row_cart .promo_cart .input_promo_code{
    float: left;
}
.row_cart .promo_cart .input_promo_code button{
    width: 80px;
}
.row_cart .promo_cart .total_pay{
    float: right;
    width: 300px;
    text-align: center;
}
.input_promo_code h3{
    margin-top: 0;
}
.input_promo_code i a:hover{
    color: red!important;
    text-decoration: none;
}
/*End cart css*/

/*Paymen page*/




.paycontainer {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    font-size: 80px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
.icon-payment{
    height: 60px!important;
    width: 60px!important;
}
#momoBtn{
    height: 100%!important;
    width: 100%;
}
#momoBtn img{
    height: 100%!important;
    width: 100%;
}
.btn_payment_icon{
    height: 60px;
    width: 100%;
}
.btn_payment_icon,.btn_payment_icon div{
    display: inline-block;
}

.payment{
    height: 60px!important;
    text-align: center;
}
.payment button{
    border: none;
    margin: 0;
    height: 57px;
}
.payment .btn{
    vertical-align: inherit!important;
    
}
#momoForm{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    height: 300px;
    width: 300px;
}
#momoForm .itemQR,
#momoForm .itemQR img{
    height: 100%;
    width: 100%;
}
.input-field{
    width: 100%!important;
    height: 4rem;
    text-align: center;
}
/*End payment*/

/*Search History*/

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}
/*End Search History*/

/*New page*/
.title-news{
    
}
.content-news img{
    height: 200px;
    max-height: 250px;
    width: 100%;
}
.content-news .ct-area{
    margin-top: 20px;
    font-family: cursive;
    
}
.list-news{
    border: 1px solid grey;
    max-height: 400px;
    overflow-y: scroll;
}
/*End new Page*/